[user]
	name = Yak!
	email = yak_ex@mx.scn.tv
[core]
	quotepath = false
[color]
	ui = auto
[alias]
	a = add
	ap = add -p
	au = add -u
	b = branch
	ba = branch -a
	c = commit
	ci = commit
	ca = commit --amend -C HEAD
	cam = commit --amend -m
	car = commit -C HEAD --amend --reset-author
	cb = checkout -b
	cm = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	ft = fetch --tags
	h = checkout --
	hd = checkout --
	l = log --decorate
	lt = log --decorate --stat
	lo = log --decorate --oneline
	lg = log --decorate --oneline --graph
	lga = log --decorate --oneline --graph --all
	mg = merge
	pl = pull
	pr = pull --rebase
	ps = push
	pt = push --tags
	rc = rebase --continue
	ri = rebase -i
	ro = rebase -i origin/master
	rr = rebase origin/master
	s = status
	ss = status -s
	st = status
	sc = svn clone --no-minimize-url --prefix svn/ -s
	ta = tag -l
[http]
	sslcapath = /usr/ssl/certs
[push]
	default = matching
